h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.header-nav {
  color: white;
  background: #337ab7;
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
  text-align: center;
  border-radius: 15px;
  font-size: 200%;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}
.remove-button {
  width: 160px;
}
.result {
  clear: left;
}
.warning {
  color: #FF9966;
}
